.vscode/settings.json
todo.txt
test3.py
test4.py
test5.py
reademails.py
gmail_token.json
client_secret.json
Get OAuth Client Id file.tscproj/desktop.ini
Get OAuth Client Id file.tscproj/Get OAuth Client Id file.tscproj
Get OAuth Client Id file.tscproj/Rec 6-30-2024-4-10-52-PM.trec
